.App {
	text-align: center;
};

.busBody {
	position: absolute;
	background-color: rgb(161, 7, 7);
	border: 4px solid black;
};

.window {
	position: absolute;
	background-color: black;
	border: 3px solid burlywood;
};

.outerTyre {
	position: absolute;
	background-color: black;
	border: 3px solid burlywood;
	border-radius: 50%,
};

.rim {
  position: absolute;
	border: black dashed 7px;
	background-color: rgb(109, 101, 101);
	border-radius: 50%;
};

.mainDoor {
	position: absolute;
	background-color: black;
	border: 2px solid black;
	border-radius: 30px;
};

.doorParts {
	position: absolute;
	background-color: cadetblue;
	border: 2px solid burlywood;
	border-radius: 18px;
};

.ledRed {
	position: absolute;
	border: 1px solid black;
	background-color: red;
	box-shadow: red 0 2px 12px;
};

.ledOrange {
	position: absolute;
	border: 1px solid black;
	background-color: rgb(236, 101, 22);
	box-shadow: rgb(236, 101, 22) 0 2px 12px;
};

.sticker {
	position: absolute;
	background-color: sandybrown;
	border: 3px solid black;
};

.frontGlass {
	position: absolute;
	background-color: black;
	border: 3px solid burlywood;
};

.roof {
	position: absolute;
	background-color: black;
	border: 3px solid black;
}

.backgroundColor {
	position: absolute;
	background-color: rgb(183, 205, 214);
	top: 1px;
	width: 100%;
	height: 100%;
};
