.App {
	text-align: center;
};

.busBody {
	background-color: rgb(161, 7, 7);
	clip-path: polygon(6.5% 0, 100% 0%, 100% 100%, 0 100%);
	border: 4px solid black;
};

.window {
	background-color: black;
	border: 3px solid burlywood;
};

.outerTyre {
	background-color: black;
	border: 3px solid burlywood;
};

.rim {

	border: black dashed 7px;
	background-color: rgb(109, 101, 101);
	border-radius: 50%;
};

.mainDoor {
	position: absolute;
	background-color: black;
	border: 2px solid black;
};

.doorParts {
	background-color: cadetblue;
	border: 2px solid burlywood;
};

.road {
	position: absolute;
	top: 541px;
	background-color: black;
	height: 450px;
	width: 2000px;
};

.crossLine {
	position: absolute;
	top: 655px;
	left: 10px;
	border-top: white dashed 20px;
	height: 1150px;
	width: 1600px;
};

.ledRed {
	border: 1px solid black;
	background-color: red;
	box-shadow: red 0 2px 12px;
};

.ledOrange {
	border: 1px solid black;
	background-color: rgb(236, 101, 22);
	box-shadow: rgb(236, 101, 22) 0 2px 12px;
};

.sticker {
	background-color: sandybrown;
	border: 3px solid black;
};

.frontGlass {
	background-color: black;
	border: 3px solid burlywood;
};

.roofTop {
	background-color: black;
}

.backgroundColor {
	position: absolute;
	background-color: rgb(183, 205, 214);
	top: 1px;
	width: 100%;
	height: 100%;
};
