.App {
	text-align: center;
};

.busBody {
	position: absolute;
	top: 150px;
	left: 140px;
	background-color: rgb(161, 7, 7);
	height: 385px;
	width: 1200px;
	border-radius: 20px;
	clip-path: polygon(6.5% 0, 100% 0%, 100% 100%, 0 100%);
	border: 4px solid black;
};

.window {
	position: absolute;
	top: 200px;
	left: 748px;
	background-color: black;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 3px solid burlywood;
};

.outerTyre {
	position: absolute;
	top: 490px;
	left: 230px;
	background-color: black;
	height: 120px;
	width: 120px;
	border-radius: 75px;
	border: 3px solid burlywood;
};

.rim {

	border: black dashed 7px;
	background-color: rgb(109, 101, 101);
	border-radius: 50%;
};

.mainDoor {
	position: absolute;
	top: 201px;
	left: 465px;
	border-radius: 25px;
	background-color: black;
	height: 331px;
	width: 200px;
	border: 2px solid black;
};

.doorParts {
  position: absolute;
	top: 204px;
	left: 469px;
	border-radius: 18px;
	background-color: cadetblue;
	height: 325px;
	width: 92px;
	border: 2px solid burlywood;
};

.road {
	position: absolute;
	top: 541px;
	background-color: black;
	height: 450px;
	width: 2000px;
};

.crossLine {
	position: absolute;
	top: 655px;
	left: 10px;
	border-top: white dashed 20px;
	height: 1150px;
	width: 1600px;
};

.ledRed {
	position: absolute;
	top: 425.5px;
	left: 1348px;
	border: 1px solid black;
	background-color: red;
	box-shadow: red 0 2px 12px;
	height: 35px;
	width: 10px;
};

.ledOrange {
	position: absolute;
	top: 460px;
	left: 1348px;
	border: 1px solid black;
	background-color: rgb(236, 101, 22);
	box-shadow: rgb(236, 101, 22) 0 2px 12px;
	height: 35px;
	width: 10px;
};

.sticker {
	position: absolute;
	top: 385px;
	left: 172px;
	background-color: sandybrown;
	border: 3px solid black;
	height: 51px;
	width: 1168px;
};

.frontGlass {
	position: absolute;
	left: 177px;
	top: 148px;
	border-radius: 60px;
	width: 51px;
	height: 198px;
	background-color: black;
	clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
	border: 3px solid burlywood;
};

.roofTop {
	position: absolute;
	top: 135px;
	left: 260px;
	background-color: black;
	border-radius: 35px;
	height: 15px;
	width: 1050px;
}

.backgroundColor {
	position: absolute;
	background-color: rgb(183, 205, 214);
	top: 1px;
	width: 100%;
	height: 100%;
};
